# 依赖包
node_modules
.pnpm-store

# 构建产物
dist
build
lib

# 环境变量 (包含私钥，绝对不能上传)
.env
.env.local
*.local

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器配置
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?